$primary-color: hsl(257, 40%, 49%);
$heading-font: 'Poppins', sans-serif;
// Weights: 400, 700
$body-font:'Open Sans', sans-serif;
$body-weight: 400;
// weight 400



body {
	background-color: $primary-color;
}
